/* CHAT-PANEL-CSS */



.chat-frame {width: 95%;min-width: 360px;max-width:100%;height:100vh;min-height: 300px;max-height: 720px;background: #fff;}
.chat-frame .left-chatbar {float: left;min-width: 280px;max-width: 340px;width: 40%;height: 100%;background:#fff;color: #f5f5f5;overflow: hidden;position: relative;}
.chat-frame .cp-profile {width: 94%;margin: 10px auto 10px 10px;padding: 0;float: left; background:#fff;}
.chat-frame .cp-profile.expanded .wrap {height: 210px;line-height: initial;}
.chat-frame .cp-profile.expanded .wrap p {margin-top: 20px;}
.chat-frame .cp-profile.expanded .wrap i.expand-button {-moz-transform: scaleY(-1);-o-transform: scaleY(-1);-webkit-transform: scaleY(-1);transform: scaleY(-1);filter: FlipH;-ms-filter: "FlipH";}
.chat-frame .cp-profile .wrap {height: 60px;line-height: 60px;overflow: hidden;-moz-transition: 0.3s height ease;-o-transition: 0.3s height ease;-webkit-transition: 0.3s height ease;transition: 0.3s height ease;}
.chat-frame .cp-profile .wrap img {width: 50px;border-radius: 50%;padding: 3px;border: 2px solid #e74c3c;height: auto;float: left;cursor: pointer;-moz-transition:0.3s border ease;-o-transition: 0.3s border ease;-webkit-transition: 0.3s border ease;transition: 0.3s border ease;}
.chat-frame .cp-profile .wrap img.online {border: 2px solid #2ecc71;}
.chat-frame .cp-profile .wrap img.away {border: 2px solid #f1c40f;}
.chat-frame .cp-profile .wrap img.busy {border: 2px solid #e74c3c;}
.chat-frame .cp-profile .wrap img.offline {border: 2px solid #95a5a6;}
.chat-frame .cp-profile .wrap p {float: left;margin-left: 15px;}
.chat-frame .cp-profile .wrap i.expand-button {float: right;margin-top: 23px;font-size: 0.8em;cursor: pointer;color: #435f7a;}
.chat-frame .cp-profile .wrap #status-options {position: absolute;opacity: 0;visibility: hidden;width: 150px;margin: 70px 0 0 0;border-radius: 6px;z-index: 99;line-height: initial;background: #435f7a;-moz-transition: 0.3s all ease;-o-transition: 0.3s all ease;-webkit-transition: 0.3s all ease;transition: 0.3s all ease;}
.chat-frame .cp-profile .wrap #status-options.active {opacity: 1;visibility: visible;margin: 75px 0 0 0;}
.chat-frame .cp-profile .wrap #status-options:before {content: '';position: absolute;width: 0;height: 0;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 8px solid #435f7a;margin: -8px 0 0 24px;}
.chat-frame .cp-profile .wrap ul {overflow: hidden;border-radius: 6px;}
.chat-frame .cp-profile .wrap ul li {padding: 15px 0 30px 18px;display: block;cursor: pointer;}
.chat-frame .cp-profile .wrap ul li:hover {background: #496886;}
.chat-frame .cp-profile .wrap ul li span.status-circle {position: absolute;width: 10px;height: 10px;border-radius: 50%;margin: 5px 0 0 0;}
.chat-frame .cp-profile .wrap ul li span.status-circle:before {content: '';position: absolute;width: 14px;height: 14px;margin: -3px 0 0 -3px;background: transparent;border-radius: 50%;z-index: 0;}
.chat-frame .cp-profile .wrap ul li p {padding-left: 12px;}
.chat-frame .cp-profile .wrap ul li#status-online span.status-circle {background: #2ecc71;}
.chat-frame .cp-profile .wrap ul li#status-online.active span.status-circle:before {border: 1px solid #2ecc71;}
.chat-frame .cp-profile .wrap ul li#status-away span.status-circle {background: #f1c40f;}
.chat-frame .cp-profile .wrap ul li#status-away.active span.status-circle:before {border: 1px solid #f1c40f;}
.chat-frame .cp-profile .wrap ul li#status-busy span.status-circle {background: #e74c3c;}
.chat-frame .cp-profile .wrap ul li#status-busy.active span.status-circle:before {border: 1px solid #e74c3c;}
.chat-frame .cp-profile .wrap ul li#status-offline span.status-circle {background: #95a5a6;}
.chat-frame .cp-profile .wrap ul li#status-offline.active span.status-circle:before {border: 1px solid #95a5a6;}
.chat-frame .cp-profile .wrap #expanded {padding: 100px 0 0 0;display: block;line-height: initial !important;}
.chat-frame .cp-profile .wrap #expanded label {float: left;clear: both;margin: 0 8px 5px 0;padding: 5px 0;}
.chat-frame .cp-profile .wrap #expanded input {border: none;margin-bottom: 6px;background: #32465a;border-radius: 3px;color: #f5f5f5;padding: 7px;width: calc(100% - 43px);}
.ch-left-search > label {color: #8392A7;}
.chat-frame .cp-profile .wrap #expanded input:focus {outline: none;background: #435f7a;}
.chat-frame .ch-left-search {/* border-top: 1px solid #32465a;border-bottom: 1px solid #32465a; */font-weight: 300;border: solid 2px #D4D4D4;
border-radius: 35px;}
.chat-frame .ch-left-search label {position: absolute;margin: 10px 0 0 20px;right: 30px;}
.chat-frame .ch-left-search label::before {content: "";position: absolute;background: #A3B2C7;height: 25px;width: 1px;left: -11px;}
.chat-frame .ch-left-search input {padding:10px 0 10px 26px;width: 99%;border: none;background: #fff;color:#334257;border-radius: 35px;}
.chat-frame .ch-left-search input:focus {outline: none;background:#fafafa; }
.chat-frame .ch-left-search input::-webkit-input-placeholder {color:#8392A7;}
.chat-frame .ch-left-search input::-moz-placeholder {color:#8392A7;}
.chat-frame .ch-left-search input:-ms-input-placeholder {color:#8392A7;}
.chat-frame .ch-left-search input:-moz-placeholder {color: #8392A7;}
.chat-frame .contacts-chat.expanded {height: calc(100% - 334px);}
.chat-frame .contacts-chat::-webkit-scrollbar {width: 8px;background: #2c3e50;}
.chat-frame .contacts-chat::-webkit-scrollbar-thumb {background-color: #243140;}
.chat-frame .contacts-chat ul li.contact {position: relative;padding: 10px 0 15px 0;font-size: 0.9em;cursor: pointer;color: #738297;}
.chat-frame .contacts-chat ul li.contact:hover {background:#f2f2f2;}
.chat-frame .contacts-chat ul li.contact.active {background:#f2f2f2;border-right: 5px solid #f1f1f1;}
.chat-frame .contacts-chat ul li.contact.active span.contact-status {border: 1px solid #eee !important;}
.chat-frame .contacts-chat ul li.contact .wrap {width: 80%;margin: 0 auto 0 16px;position: relative;}
.chat-frame .contacts-chat ul li.contact .wrap span {position: absolute;left: 0;margin: -2px 0 0 -2px;width: 10px;height: 10px;border-radius: 50%;border: 1px solid #fff;background: #95a5a6;}
.chat-frame .contacts-chat ul li.contact .wrap span.time-txt {border: none;}
.chat-frame .contacts-chat ul li.contact .wrap span.online {background: #2ecc71;}
.chat-frame .contacts-chat ul li.contact .wrap span.away {background: #f1c40f;}
.chat-frame .contacts-chat ul li.contact .wrap span.busy {background: #e74c3c;}
.chat-frame .contacts-chat ul li.contact .wrap img {width: 40px;border-radius: 50%;float: left;margin-right: 10px;}
.chat-frame .contacts-chat ul li.contact .wrap .meta {padding: 5px 0 0 0;}
.chat-frame .contacts-chat ul li.contact .wrap .meta .name {font-weight: 600;position: relative;}
.chat-frame .contacts-chat ul li.contact .wrap .meta .preview {margin: 5px 0 0 0;padding: 0 0 1px;font-weight: 400;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-moz-transition: 1s all ease;-o-transition: 1s all ease;-webkit-transition: 1s all ease;transition: 1s all ease;}
.chat-frame .contacts-chat ul li.contact .wrap .meta .preview span {position: initial;border-radius: initial;background: none;border: none;padding: 0 2px 0 0;margin: 0 0 0 1px;opacity: .5;}
.chat-frame #sidepanel #bottom-bar {position: absolute;width: 100%;bottom: 0;}
.chat-frame #sidepanel #bottom-bar button {float: left;border: none;width: 50%;padding: 10px 0;background: #32465a;color: #f5f5f5;cursor: pointer;font-size: 0.85em;}
.chat-frame #sidepanel #bottom-bar button:focus {outline: none;}
.chat-frame #sidepanel #bottom-bar button:nth-child(1) {border-right: 1px solid #2c3e50;}
.chat-frame #sidepanel #bottom-bar button:hover {background: #435f7a;}
.chat-frame #sidepanel #bottom-bar button i {margin-right: 3px;font-size: 1em;}
.chat-frame .right-content {float: right;width: 60%;height: 100%;overflow: hidden;position: relative;border-right: solid 1px #ddd;box-shadow: 0 1px 6px #d5c0c0;}
.chat-frame .right-content .contact-profile {width: 100%;height: 60px;line-height: 60px;background: #f5f5f5;position: absolute;width: 100%;z-index: 11;box-shadow: 0 0px 11px #c2bec3;}
.chat-frame .right-content .contact-profile img {width: 40px;border-radius: 50%;float: left;margin: 9px 12px 0 9px;}
.chat-frame .right-content .contact-profile p {float: left;}
.chat-frame .right-content .contact-profile .social-media {float: right;padding-right:15px; text-align: right;}
.chat-frame .right-content .contact-profile .social-media i {margin-left: 14px;cursor: pointer;}
.chat-frame .right-content .contact-profile .social-media i:nth-last-child(1) {margin-right: 20px;}
.chat-frame .right-content .contact-profile .social-media i:hover {color: #435f7a;}
.chat-frame .right-content .messages::-webkit-scrollbar {width: 8px;background: transparent;}
.chat-frame .right-content .messages::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, 0.3);}
.chat-frame .right-content .messages ul li {clear: both;float:left; margin: 15px 15px 5px 15px;width: calc(100% - 25px);font-size: 0.9em;list-style: none;}
.chat-frame .right-content .messages ul li:nth-last-child(1) {margin-bottom: 20px;}
.chat-frame .right-content .messages ul li.replies img {margin: 6px 8px 0 0;}
.chat-frame .right-content .messages ul li.replies p {background: #fafafa;}
.chat-frame .right-content .messages ul li.sent img {float: right;margin: 6px 0 0 8px;}
.chat-frame .right-content .messages ul li.sent p {background:#0160fe;float: right;color: #f5f5f5;position: relative;}
.chat-frame .right-content .messages ul li.sent p::after {content: '';display: inline-block;width: 0;height: 0;	border: 10px solid transparent;
	border-left-color: transparent;vertical-align: middle;border-left-color: #0160fe;top: 0px;	right: -17px;	position: absolute;}
.chat-frame .right-content .messages ul li img {width:42px;border-radius: 50%;float: left;}
.chat-frame .right-content .messages ul li p {display: inline-block;padding: 10px 15px;border-radius: 6px;max-width: 205px;line-height: 130%; border-top-right-radius:0;}
.chat-frame .right-content .message-input {position: absolute;bottom:0;width: 100%;z-index: 99;padding: 15px;background: #e9e9e9;}
.chat-frame .right-content .message-input .wrap {position: relative;}
.chat-frame .right-content .message-input .wrap input {font-family: "proxima-nova",  "Source Sans Pro", sans-serif;float: left;border: none;width: calc(100% - 130px);height: 50px;padding: 11px 32px 10px 8px;font-size:1rem;color: #00061a;font-weight:bold;}
.chat-frame .right-content .message-input .wrap input:focus {outline: none;}
.chat-frame .right-content .message-input .wrap .attachment {position: absolute;right:90px;z-index: 4;margin-top: 15px;font-size: 1.6em;color: #435f7a;opacity: 1;cursor: pointer;}
.chat-frame .right-content .message-input .wrap .attachment:hover {opacity: 1;}
.chat-frame .right-content .message-input .wrap button {float: right;border: none;width:70px;padding: 6px 0;cursor: pointer;background: #32465a;color: #f5f5f5;margin-top: 6px;}
.chat-frame .right-content .message-input .wrap button:hover {background: #435f7a;}
.chat-frame .right-content .message-input .wrap button:focus {outline: none;}
.chat-frame.chat-frame {display: flex;width:99%;}
.chat-frame .content {padding: 0;margin: 0;;background:#f7f7f7;}
.current-user{position:relative;}
.current-user .online {position: relative;left: -7px;margin: 0;width: 10px;
height: 10px;border-radius: 50%;background: #2ecc71;width: 10px;float: left;margin-top:25px;}
.call-btn {background: #444;width: 30px;float: left;height: 30px!important;	margin-top: 15px;padding: 0;line-height: 27px!important;text-align: center;border-radius: 50%!important;opacity: .65;	margin-left:15px;}
.call-btn > i {padding: 0;margin: 0 !important;color: #fff;}
.chat-frame .left-chatbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color:rgba(0, 0, 0, 0.11);filter: "alpha(opacity=75)";-ms-filter: "alpha(opacity=75)";}
.chat-frame .left-chatbar .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color: #fff; background-color:rgba(0, 0, 0, 0.4);filter: "alpha(opacity=85)"; -ms-filter: "alpha(opacity=85)"; }
.chat-frame .left-chatbar .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .chat-frame .cleft-chatbar .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #fff; background-color: rgba(0, 0, 0, 0.6); filter: "alpha(opacity=90)"; -ms-filter: "alpha(opacity=90)"; }
.messages .content {height: 98vh;padding-bottom: 140px;padding-top: 60px;background:#f2f2f2;}
.messages .content .mCSB_container {padding-bottom: 30px;padding-top: 30px;}
.messages .content .mCSB_container ul {margin: 0;padding: 0;}  
.chatsms .mCSB_scrollTools .mCSB_draggerRail {height:96%;margin-top: 21px;}
.chatsms .mCSB_dragger{max-height:194px;top:18px} 
.chatsms .mCSB_scrollTools .mCSB_draggerContainer {top:-20px;height: 100% !important;}
.profile-card img{max-width:90px;margin:auto;}
.chat-frame .right-content2 .messages ul li p {max-width: 380px;}
.right-content2 .messages .content .mCSB_container {padding-bottom:0;}
.left-chatbar2 .contacts-chat ul li.contact .wrap {width: 88%;} 
.time-txt {display: inline;font-size: 12px;position: relative !important;background: transparent !important;padding-left: 5px;}



@media screen and (max-width: 735px) {
	.chat-frame {width: 100%;height: 100vh;}
	.chat-frame #sidepanel {width: 58px;min-width: 58px;}
	.chat-frame .cp-profile {width: 100%;margin: 0 auto;padding: 5px 0 0 0;background: #32465a;}
	.chat-frame .cp-profile .wrap {height: 55px;}
	.chat-frame .cp-profile .wrap img {width: 40px;margin-left: 4px;}
	.chat-frame .cp-profile .wrap p {display: none;}
	.chat-frame .cp-profile .wrap i.expand-button {display: none;}
	.chat-frame .cp-profile .wrap #status-options {width: 58px;margin-top: 57px;}
	.chat-frame .cp-profile .wrap #status-options.active {margin-top: 62px;}
	.chat-frame .cp-profile .wrap #status-options:before {margin-left: 23px;}
	.chat-frame .cp-profile .wrap ul li {padding: 15px 0 35px 22px;}
	.chat-frame .cp-profile .wrap ul li span.status-circle {width: 14px;height: 14px;}
	.chat-frame .cp-profile .wrap ul li span.status-circle:before {height: 18px;width: 18px;}
	.chat-frame .cp-profile .wrap ul li p {display: none;}
	.chat-frame #sidepanel #search {display: none;}
	.chat-frame .contacts-chat::-webkit-scrollbar {display: none;}
	.chat-frame #sidepanel #bottom-bar button:nth-child(1) {border-right: none;border-bottom: 1px solid #2c3e50;}
	.chat-frame .contacts-chat ul li.contact {padding: 6px 0 46px 8px;}
	.chat-frame .contacts-chat ul li.contact .wrap {width: 100%;}
	.chat-frame .contacts-chat ul li.contact .wrap img {margin-right: 0px;}
	.chat-frame .contacts-chat ul li.contact .wrap .meta {display: none;}
	.chat-frame #sidepanel #bottom-bar button {float: none;width: 100%;padding: 15px 0;}
	.chat-frame #sidepanel #bottom-bar button i {font-size: 1.3em;}
	.chat-frame #sidepanel #bottom-bar button span {display: none;}
	.chat-frame .right-content {width: calc(100% - 58px); min-width: 300px !important;}
	.chat-frame .right-content .messages { max-height: calc(100% - 105px); }
	.chat-frame .right-content .messages ul li p {max-width: 300px;}
	.chat-frame .right-content .message-input .wrap input {padding: 15px 32px 16px 8px;}
	.chat-frame .right-content .message-input .wrap .attachment {margin-top: 17px;right: 65px;}
	.chat-frame .right-content .message-input .wrap button {padding: 16px 0;}
}